<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Have Fun!!</title>
</head>
<body>
	<div id="container">
		<div style="background-color:#FFA500">Title</div>
		<div style="float:left;">
		<canvas id="board" width="300" height="300" style="border:1px solid #DCDCDC;"></canvas>
		<script src="/static/squares/js/gameboard.js"></script>
		</div>
		<div id='players' style="width:1000px;height:200px;float:right;">
			<h1 id='player1'>
						player1
			</h1>
			<br>
			<h1 id='player2'>
						player2
			</h1>
		</div>
	</div>
</body>
</html>

