<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Have Fun!!</title>
</head>
<body>
	<div id="container">
		<div style="background-color:#FFA500"><h1>高源的第一个小游戏</h1></div>
		<div style="float:left;">
		<canvas id="board" width="300" height="300" style="border:1px solid #DCDCDC;"></canvas>
		</div>
		<div id='players' style="width:1000px;height:200px;float:right;">
			<h1>
						<span id='player1'>李博</span> <span id='countplayer1'>0</span>
			</h1>
			<br>
			<h1>
						<span id='player2'>高源</span> <span id='countplayer2'>0</span>
			</h1>
		</div>
		<script src="/static/squares/js/gameboard.js" type="application/javascript"></script>
	</div>
</body>
</html>

